.main {
    margin-top: 30px;
    margin-left: 50px;
}

.input {

}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 1000px;
}

.js__list_item {
    width: 50%;
}

.js__img {
    width: 250px;
}