.main {
    margin-top: 30px;
    
}

.form {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}
.input {
    width: 30%;
    height: 30px;
}

.div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    
}

.list {
    
    width: 400px;
    margin-right: 10%;
   
}

.fav{
    background-color: #ABEBC6;
    width: 400px;
    margin-left: 10%;
    
}

.js__list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: #1A5276;
    background-image: linear-gradient(to top, #F7DC6F, #FCF3CF );
    margin: 10px;
    padding: 10px 10px 0px 10px;
    line-height: 50px;
}

.js__img {
    width: 250px;
}

.inverted_colors {
    background-image: linear-gradient(to top, #1A5276, #7FB3D5 );
    -webkit-text-stroke: 1px black;
    color: #F7DC6F;
}
