.main {
    margin-top: 30px;
    
}

.form {
    display: flex;
    justify-content: center;
}
.input {
    width: 30%;
    height: 30px;
}

.div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    
}

.list {
    background-color: #F5CBA7;
    width: 400px;
    margin-right: 10%;
   
}

.fav{
    background-color: #ABEBC6;
    width: 400px;
    margin-left: 200px;
    
}

.js__list_item {
    width: 50%;
}

.js__img {
    width: 250px;
}