.main {
    margin-top: 30px;
    margin-left: 50px;
}

.input {

}

.div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.list {
    background-color: #F5CBA7;
    width: 500px;
}

.fav{
    background-color: #ABEBC6;
}

.js__list_item {
    width: 50%;
}

.js__img {
    width: 250px;
}