<main class="main">
  <form action="#" class="form">
    <input
      type="text"
      name="input"
      class="input js__input"
      id="input"
      value=""
      placeholder="Ejemplo: margarita"
    />
    <button type="button" class="button js__button">Buscar</button>
    <button type="reset" class="reset js__reset">Reset</button>
  </form>
  <section class="section">
    <div class="list">
      <h2>Lista</h2>
      <ul class="ul ul__list js__ul_list"></ul>
    </div>
    <div class="fav">
      <h2>Favoritos</h2>
      <ul class="ul ul__fav js__ul_fav"></ul>
    </div>
  </section>
</main>
