<main class="main">
  <form action="#" class="form">
    <input
      type="text"
      name="input"
      class="input js__input"
      id="input"
      value=""
    />
    <button type="button" class="button js__button">Buscar</button>
  </form>
  <div class="list js__list">
    <ul class="ul js__ul_list"></ul>
  </div>
  <div class="favourites js__favourites">
    <ul></ul>
  </div>
</main>
<li>
  <img
    src="https://cdn.pixabay.com/photo/2018/03/19/16/02/glass-glass-3240355_1280.png"
    alt=""
  />Hola
</li>
