<main class="main">
  <form action="#" class="form">
    <input
      type="text"
      name="input"
      class="input js__input"
      id="input"
      value=""
      placeholder="Ejemplo: margarita"
    />
    <button type="button" class="button js__button">Buscar</button>
    <button type="reset" class="reset js__reset">Reset</button>
  </form>
  <div class="div">
    <section class="list">
      <h2>Lista</h2>
      <ul class="ul js__ul_list" id="list"></ul>
    </section>
    <section class="fav">
      <h2>Cócteles Favoritos</h2>
      <ul class="ul js__ul_fav"></ul>
      <button type="" class="delete"></button>
    </section>
  </div>
</main>
